body{
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #00a94f;
}

.logo {
    margin-top: 8;
    padding: 1%;
    padding-left: 3%;
}

.dropbtn0, .dropbtn1 {
    background-color: #00a94f;
    color: white;
    border: none;
    padding: 16px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
  
.dropdown0, .dropdown1 {
    display: inline-block;
    margin-top: 2.75%;
    float: right;
}
  
.dropdown-content-0, .dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content-0 a, .dropdown-content-1 a {
    color: #00a94f;
    padding: 12px 16px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
  
.dropdown-content-0 a:hover, .dropdown-content-1 a:hover {
    background-color: #bfbfbf;
}
  
.dropdown0:hover .dropdown-content-0, .dropdown1:hover .dropdown-content-1 {
    display: block;
}
  
.dropdown0:hover .dropbtn0, .dropdown1:hover .dropbtn1 {
    background-color: white;
    color: #00a94f;
    border: 1px solid darkgreen;
}

.home {
    background-color: #00a94f;
    color: white;
    border: none;
    padding: 16px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2.75%;
    float: right;
}

.home:hover {
    background-color: white;
    color: #00a94f;
    border: 1px solid darkgreen;
}

.dropdown0 {
    margin-right: 65px;
}

.dropdown1, .home {
    margin-right: 20px;
}