.slider {
    width: 1500px;
    height: 460px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 18px;
    margin-left: 18px;
}

.slides {
    width: 1500;
    height: 460px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    transition: 2s;
}

.slides img {
    width: 1500;
    height: 460px;
}

.navigation-manual {
    position: absolute;
    width: 300px;
    margin-top: -30px;
    margin-left: 590px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -103%;
}

#radio3:checked ~ .first {
    margin-left: -206%;
}

#radio4:checked ~ .first {
    margin-left: -309%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 300px;
    margin-top: 430px;
    margin-left: 590px;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc
}

.part1 {
    margin: 50px;
    font-family: Arial;
    background-color: white;
    padding: 20px;
    padding-right: 30px;
}

.part1 td {
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
}

.home1 {
    padding-right: 30px;
}

.part1 h1 {
    font-size: 50px;
    color: red;
}

.part1 h2 {
    font-size: 38px;
    color: #00a94f;
}

.know {
    background-color: #00a94f;
    color: white;
    border: none;
    padding: 16px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2.75%;
}

.know:hover {
    background-color: red;
    color: white;
}

.data {
    background-color: white;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    line-height: 40px;
    margin-bottom: 50px;
}

.number, .number2 {
    border-right: 2px solid black;
}

.number, .number1 {
    width: 400px;
    font-size: 30px;
    color: #00a94f;
}